.Importante{
    font-size: 20px !important;
}
.imagen{
    font-size: 20px !important;
    color: white !important;
}
.titulo{
    color: black !important;
    font-weight: normal !important;
   font-size: 22px !important;
}
.ubicacion{
    color: gray !important;
    font-size: 17px !important;
}
.descripcion{
    color: black !important;
    font-size: 20px !important;
}
*::selection{
    background:#f44336!important;
    color:white!important;
}
#InformacionC{
    font-size: 20px;
    color: black;
    text-align: justify;
    text-justify: inter-word;
}
#DIreccionC{
    font-size: 15px;
    color: black;
}
#TablaC{
    font-size: 15px;
    color: black;
}